<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="container">
        <h4>Bem vindo de volta!</h4>
        <span>
            <input class="gate" type="text" placeholder="GreenLantern" formControlName="nick" /><label
                for="class">Nick</label>
        </span>
        <span>
            <input class="gate" type="password" placeholder="verde123" formControlName="password" /><label
                for="class">Senha</label>
        </span>
        <button class="btn-green" type="submit">Entrar</button>
    </div>
</form>